rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Check logged user
    function isAuthorizedUser() {
      return request.auth != null
        && exists(/databases/$(database)/documents/authUsers/$(request.auth.uid))
        && get(/databases/$(database)/documents/authUsers/$(request.auth.uid)).data.role
             in ['jury', 'administrator'];
    }

    // Read all, create/update/delete only for jury or administrator
    match /{document=**} {
      allow read: if true;
      allow create, update, delete: if isAuthorizedUser();
    }
  }
}