<div class="left-stars-container">
  <span>{{ starsLeft() }}</span> <mat-icon>star</mat-icon> <span>left</span>
</div>
<div class="vote-items-container">
  @for (person of personsList(); track person.id; let index = $index) {
    <mat-card
      class="vote-item"
      appearance="outlined"
      matRipple
      (click)="onAddStar(person.id)">
      <div class="vote-item-header">
        {{ person.name }}
      </div>

      @if (person.image) {
        <img
          [ngSrc]="person.image"
          fill
          placeholder="assets/images/small-logo.svg"
          [priority]="index < 3"
          [alt]="person.name" />
        <div class="vote-item-stars">
          <span>{{ person.stars || 0 }}</span>
          <mat-icon>star</mat-icon>
        </div>
      } @else {
        <div class="vote-item-stars no-image">
          <span>{{ person.stars || 0 }}</span>
          <mat-icon>star</mat-icon>
        </div>
      }
    </mat-card>
  }
</div>
