:host {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-default);
}

.logo {
  display: flex;
  margin-inline: auto;
}

.right-panel {
  right: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  :host {
    .logo {
      margin-inline: 0;
    }
  }
}
