.dialog-container {
  min-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
}

.actions-container {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;

  button {
    width: 100%;
  }
}

